.app-footer {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 14px;
}