.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
}

.btn.danger {
    background-color:red;
}

.btn.warning {
    background-color:orange;
}

.btn:hover {
    opacity: 0.7;
}