.header {
    background-color: #e1e6ee;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 4px #c6d6e7;
}

.header button {
    margin-right: 10px;
}

.header button:hover {
    opacity: 0.7;
}