.navigation-item {
    margin: 10px 0;
    display: block;
    width: 100%;
}

.navigation-item div {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    display: block;
    cursor: pointer;
}

.navigation-item div:hover,
.navigation-item div:active,
.navigation-item div.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .navigation-item {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .navigation-item div {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        cursor: pointer;
    }
    
    .navigation-item div:hover,
    .navigation-item div:active,
    .navigation-item div.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}